{% extends 'layout.twig' %}

{% block body %}
	<div>
		<h2> {{ titulo }} </h2>
		{% for fecha in fechas %}
			<div class="panel panel-info fixture">
				<div class="panel-heading">
					<p> Fecha {{ loop.index }} </p>
				</div>
				<div class="panel-body">
					{% for partido in fecha.partidos %}
						<div class ="partidoFechaFixture">
							{{ partido.equipoLocal }} - {{partido.equipoVisitante}}
						</div>
						{%  if partido.golesLocal == null %}
							<button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal"
							data-target="#formulario" data-id="{{partido.ID}}">Cargar Informacion</button>
						{% else %}
							<p> Datos Cargados!</p>
							<button type="button" class="btn btn-primary" id="modalButton" data-toggle="modal" data-target="#formulario" data-id="{{partido.ID}}">Modificar Informacion</button>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="modal" id="formulario" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h2 class="modal-title text-center" id="ModalCenterTitle">Agregar/Editar Información</h2>
		      </div>
		      <div class="modal-body">
		        <form>
		        	<div class="form-group">
			        	<label for="golesLocal">Equipo Local:</label>
			        	<input type="number" class="form-control" min="0" placeholder="Goles" name="golesLocal">        		
		        	</div>
		        	<div class="form-group">
			        	<label for="golesVisita">Equipo Visitante:</label>
	      				<input type="number" class="form-control" min="0" placeholder="Goles" name="golesVisita">        		
		        	</div>
		        	<!--<div class="form-group">
			        	<label for="golesJugadorLocal">Goles Jugadores Equipo Local:</label>
			        	<input type="text" class="form-control" placeholder="DNI Jugadores" name="golesJugadorLocal">
		        	</div>
		        	<div class="form-group">
		        		<label for="golesJugadorVisita">Goles Jugadores Equipo Visitante:</label>
		        		<input type="text" class="form-control" placeholder="DNI Jugadores" name="golesJugadorVisita">
		        	</div>
		        	<div class="form-group">
		        		<label for="amarillasJugadorLocal">Amarillas Equipo Local:</label>
		        		<input type="text" class="form-control" placeholder="DNI Jugadores" name="amarillasJugadorLocal">
		        	</div>
		        	<div class="form-group">
		        		<label for="amarillasJugadorVisita">Amarillas Equipo Visitante:</label>
		        		<input type="text" class="form-control" placeholder="DNI Jugadores" name="amarillasJugadorVisita">
		        	</div>
		        	<small id="aclaracionDNI" class="form-text text-muted">Los numeros de DNI deben estar separados con guión medio. Ej: (12345643-34567895)</small> -->
		        	<div class="form-group">
			        	<label for="observaciones">Observaciones:</label>
		        		<textarea class="form-control" id="observaciones" rows="3"></textarea>
		        	</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		        <button type="button" class="btn btn-primary" onClick="guardarInformacion(event)" >Guardar</button>
		      </div>
		    </div>
		  </div>
	</div>
{% endblock %}
