{% extends 'layout.twig' %}

{% block body %}

    <!-- Filtro Equipos -->
    <!--<div class="dropdown" id="filtroEquipos">
	    <button class="btn btn-default dropdown-toggle" type="button" id="botonEquipos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Equipos <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu" id="listaEquipos" aria-labelledby="dropdownMenu1">
	    	{% for plantel in planteles %}
	    		<li><a>{{ plantel._id.nombre }}</a></li>
	    	{% endfor %}
	    </ul>
    </div>-->

    {% for plantel in planteles %}
        <!-- Nombre del Equipo -->
        <div>
           <img id="nombreEquipo" src="./images/Titulos/{{plantel._id.nombre}}.png">
            {% if user %}
                {% set encontre = false %}
                {% for equipo in user.equipoFavorito %}
                    {% if equipo == plantel._id.nombre %}
                        {% encontre = true %}
                    {% endif %}
                {% endfor %}
                {% if encontre == true %}
                    <span class="star glyphicon glyphicon-star" data-id="{{plantel._id.nombre}}" aria-hidden="true"></span>
                {% else %}
                    <span class="star glyphicon glyphicon-star-empty" data-id="{{plantel._id.nombre}}" aria-hidden="true"></span>
                {% endif %}
            {% endif %}
        </div>
        {% for jugador in plantel.jugadores %}
            <!-- Informacion Jugadores -->
            <div class="media" id="plantel">
                <div class="media-left media-middle">
                    <a>
                        <img class="media-object" src="./images/{{plantel._id.nombre}}/Plantel/{{jugador.foto}}" alt ="Imagen No Disponible">
                    </a>
                </div>
                <div class = "media-body">
                    <h4 class="media-heading">
                        {{ jugador.apellido }}, {{ jugador.nombre }}
                    </h4>
                    <p>
                        Fecha de Nacimiento: {{ jugador.fechaNacimiento }}
                        <br>
                        Edad: {{ jugador.edad }}
                        <br>
                        Altura: {{ jugador.altura }}
                        <br>
                        Peso: {{ jugador.peso }}
                        <br>
                        Camiseta: {{ jugador.numeroCamiseta }}
                        <br>
                        Pie Habil: {{ jugador.pieHabil }}
                        <br>
                        Posicion: {{ jugador.posicion }}
                    </p>
                </div>
                <br>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="modal" id="addFav" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Actualización</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>El equipo ha sido agregado a favoritos correctamente.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="delFav" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Actualización</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>El equipo ha sido eliminado de favoritos correctamente.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <script src="javascripts/favoritos.js"></script>
{% endblock %}